.contact {
  .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px;
    background-color: rgb(242, 242, 242);
  }

  .contact__title {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    color: rgb(17, 17, 17);
  }

  .contact__adress {
    line-height: 20px;
    margin: 0;
  }

   a {
    display: block;
  }

  img {
    display: block;
  }

  @media (min-width: @tablet-width) {
    .contact-info {
      background-color: @white;
      padding: 56px 70px;
    }

    .contact__title {
      font-size: 20px;
      line-height: 26px;
    }

    .contact__adress {
      font-size: 16px;
    }
  }

  @media (min-width: @desktop-width) {
    .contact-info {
      position: absolute;
      left: 7.64%;
      bottom: -208.75%;
      right: 58.12%;
    }
  }
}
