.contact {
  .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px;
  }

  .contact__title {
    font-size: 16px;
    line-height: 20px;
  }

  .contact__adress {
    line-height: 20px;
  }
}
