.main-header {
  min-height: 38px;
  padding: 10px 20px 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  li {
    list-style-type: none;
  }

  a {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-decoration: none;
  }

  @media (min-width: @tablet-width) {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__list {
      min-width: 440px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;



    .main-header__logo {
      display: block;
      width: 45%;
    }

    .main-nav {
      width: 50%;
    }
  }
}

.main-header-index {
  @media (min-width: @desktop-width) {
    padding-left: 110px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
}
