.program {
  background-color: #F2F2F2;
  padding: 30px 33px 18px 20px;

  a {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
  }
}

.programs__type-slim {
  margin-top: 20px;
  margin-bottom: 20px;
}
