.promo {
  min-height: 477px;

  .promo__wrapper {
    padding: 0;
  }

  .promo__title {
    display: block;
    text-align: center;
    line-height: 36px;
  }

  .promo__slogan {
    display: block;
    text-align: center;
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 14px;
  }

  .promo__link {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    padding: 0;
    margin: 0 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }

  .promo__promo-kat {
    background-color: rgb(0, 255, 76, 0.7);
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    .promo__promo-kat {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    .promo__wrapper {
      background: linear-gradient(90deg, transparent 50%, rgb(104, 183, 56) 50%);
      padding-top: 100px;
    }

    .promo-product {
      display: block;
      margin-left: 45%;
    }

    .promo__title {
      margin-right: 50%;
      font-size: 60px;
      line-height: 60px;
    }

    .promo__slogan {
      margin-right: 58%;
      font-size: 20px;
      line-height: 20px;
      color: rgb(0, 0, 0);
      text-transform: uppercase;
    }


  }
}
