.selection__data-wrapper {
  padding: 0 20px 0 20px;
}

.selection {
  .contact {
    background-color: #F2F2F2;
  }
}

.selection__input {
  font-family: "Oswald","Arial", sans-serif;
  color: #444444;
  text-transform: uppercase;
}
