.selection__data-wrapper {
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;

  .selection {
    .contact {
      background-color: rgb(242, 242, 242);
    }
  }

  .data-cat {
    display: flex;
    flex-direction: column;
  }

  .selection-program__selection {
    display: flex;
    flex-direction: column;
  }

  .contacts-data {
    display: flex;
    flex-direction: column;
  }

  .additional {
    display: flex;
    flex-direction: column;
  }

  .selection__input {
    font-family: "Oswald","Arial", sans-serif;
    color: #444444;
    text-transform: uppercase;
  }

  .selection-program__button {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    .selection-program__button {
      width: 40%;
      margin-right: 64px;
    }
  }

  @media (min-width: @desktop-width) {
    .selection-program {
      display: flex;
      flex-wrap: wrap;
    }

    .data-cat {
      width: 45%;
      margin-right: 80px;
    }

    .selection-program__selection {
      width: 45%;
    }

    .contacts-data {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;

      .contacts-data__input {
        width: 475px;
      }
    }

    .comment {
      width: 100%;

      .comment__field {
        width: 100%;
      }
    }

    .additional {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
